# Folders
Project/Thirdparty/
GameDir/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
# See JetBrains.gitignore if needed
# cmake-build-*

# Visual Studio 2022
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
Debug/
Release/
x64/Debug/
x64/Release/
ipch/
*.iobj
*.ipdb
*.pdb
*.idb
*.obj
*.lib
*.dll
*.exe

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
